<div class="container py-5 text-white">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 text-center">

      <h2 class="mb-4">Anamnese</h2>

      <div class="card text-dark p-4 mb-4" style="background-color: #B395C0;">
        <ul class="list-unstyled text-start">
          <li><strong>Peso:</strong> {{anamnese.peso}}</li>
          <li><strong>Estatura:</strong> {{anamnese.estatura}}</li>
          <li><strong>Contato de emergência:</strong> {{anamnese.contato_emergencia_nome}} ({{anamnese.contato_emergencia_telefone}})</li>
          <li><strong>Tempo sentado:</strong> {{anamnese.tempo_sentado}}</li>
          <li><strong>Pratica atividade física:</strong> {{anamnese.atividade_fisica}}</li>
          <li><strong>Fumante:</strong> {{anamnese.fumante}}</li>
          <li><strong>Álcool:</strong> {{anamnese.alcool}}</li>
          <li><strong>Alimentação:</strong> {{anamnese.alimentacao}}</li>
          <li><strong>Gestante:</strong> {{anamnese.gestante}}</li>
          <li><strong>Tratamento médico:</strong> {{anamnese.tratamento_medico}}</li>
          <li><strong>Lesões:</strong> {{anamnese.lesoes}}</li>
          <li><strong>Marcapasso:</strong> {{anamnese.marcapasso}}</li>
          <li><strong>Metais:</strong> {{anamnese.metais}}</li>
          <li><strong>Problema cervical:</strong> {{anamnese.problema_cervical}}</li>
          <li><strong>Procedimento cirúrgico:</strong> {{anamnese.procedimento_cirurgico}}</li>
          <li><strong>Alergia medicamentosa:</strong> {{anamnese.alergia_medicamentosa}}</li>
          <li><strong>Hipertensão:</strong> {{anamnese.hipertensao}}</li>
          <li><strong>Hipotensão:</strong> {{anamnese.hipotensao}}</li>
          <li><strong>Diabetes:</strong> {{anamnese.diabetes}}</li>
          <li><strong>Epilepsia:</strong> {{anamnese.epilepsia}}</li>
          <li><strong>Labirintite:</strong> {{anamnese.labirintite}}</li>
          <li><strong>Observações:</strong> {{anamnese.observacoes}}</li>
          <li><strong>Aceite do termo:</strong> {{#if anamnese.aceite_termo}}Sim{{else}}Não{{/if}}</li>
        </ul>
      </div>

      <div class="text-center mt-4">
        <a href="/aluno/home" class="btn btn-outline-custom" style="color: #5A189A; border-color: #5A189A;">Home</a>
      </div>

    </div>
  </div>
</div>