<div class="container py-5 text-white">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">

      <h2 class="mt-3 mb-4 text-center">Aulas Disponíveis</h2>

      {{#if aulas.length}}
        {{#each aulas}}
          <div class="card text-dark p-3 mb-3" style="background-color: #B395C0;">
            <h5>Professor: {{this.professor_nome}}</h5>
            <h5>Modalidade: {{this.categoria_nome}}</h5>
            <p>Data: {{this.data_formatada}} - {{this.horario_formatado}}</p>
            <p>Vagas: {{this.vagas}}</p>

            {{#if this.alunos.length}}
              <p><strong>Alunos inscritos:</strong></p>
              <ul>
                {{#each this.alunos}}
                  <li>{{this.nome}}</li>
                {{/each}}
              </ul>
            {{else}}
              <p><em>Nenhum aluno inscrito ainda.</em></p>
            {{/if}}

            {{#unless this.ja_inscrito}}
              {{#if this.vagas}}
                <form method="POST" action="/aluno/inscrever/{{this.id}}">
                  <button type="submit" class="btn btn-outline-success w-auto" style="border-color: #5A189A; color: #5A189A;">
                    Inscrever-se
                  </button>
                </form>
              {{else}}
                <p class="text-danger mt-2"><strong>Não há mais vagas disponíveis.</strong></p>
              {{/if}}
            {{else}}
              {{#if this.pode_desmarcar}}
                <form method="POST" action="/aluno/desinscrever/{{this.id}}">
                  <button type="submit" class="btn btn-outline-danger w-auto" style="border-color: #5A189A; color: #5A189A;">
                    Desinscrever-se
                  </button>
                </form>
                <p class="mt-2 text-muted">Você pode desmarcar essa aula até {{this.tempo_cancelamento}} horas antes.</p>
              {{else}}
                <p class="mt-2 text-danger"><strong>Você só pode se desinscrever com pelo menos 12 horas de antecedência.</strong></p>
              {{/if}}
            {{/unless}}
          </div>
        {{/each}}
      {{else}}
        <p class="mt-4 text-center">Nenhuma aula disponível no momento.</p>
      {{/if}}

      <div class="text-center mt-4">
        <a href="/aluno/home" class="btn btn-outline-custom" style="color: #5A189A; border-color: #5A189A;">Home</a>
      </div>

    </div>
  </div>
</div>