<h2>Histórico de Aulas</h2>

{{#each historico}}
  <div class="card p-3 mb-3">
    <h5>{{this.tipo_nome}} com {{this.professor_nome}}</h5>
    <p>Data: {{this.data}} às {{this.horario}}</p>
  </div>
{{else}}
  <p>Você ainda não concluiu nenhuma aula.</p>
{{/each}}