<h2>Editar Pacote</h2>
<form action="/professor/pacotes/editar/{{pacote.id}}" method="POST">
  <label>Aluno ID: {{pacote.aluno_id}}</label><br>

  <label>Categoria</label>
  <select name="categoria_id">
    {{#each categorias}}
      <option value="{{id}}" {{#ifCond this.id '==' ../pacote.categoria_id}}selected{{/ifCond}}>
        {{nome}}
      </option>
    {{/each}}
  </select><br>

  <label>Quantidade de Aulas</label>
  <input type="number" name="quantidade" value="{{pacote.quantidade}}"><br>

  <label>Validade</label>
  <input type="date" name="validade" value="{{formatDate pacote.validade}}"><br>

  <label>Pago?</label>
  <input type="checkbox" name="pago" {{#if pacote.pago}}checked{{/if}}><br>

  <button type="submit">Salvar</button>
</form>