<h2>Alunos Cadastrados</h2>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each alunos}}
    <tr>
      <td>{{this.nome}}</td>
      <td>{{this.telefone}}</td>
      <td>
        <a href="/professor/alunos/{{this.id}}/editar" class="btn btn-sm btn-warning">Editar</a>
        <a href="/professor/anamnese/{{this.id}}" class="btn btn-sm btn-info">Anamnese</a>
        <a href="/professor/pacotes/aluno/{{this.id}}" class="btn btn-sm btn-primary">Ver Pacotes</a>
        <form action="/professor/alunos/{{this.id}}/delete" method="POST" style="display:inline;">
          <button class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja deletar?')">Deletar</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>


<a href="/professor/pacotes/aluno/{{this.id}}" class="btn btn-sm btn-outline-info">Ver Pacotes</a>
<a href="javascript:history.back()" class="btn btn-secondary">Voltar</a>