<h2>Pacotes por Aluno</h2>

<table class="table">
  <thead>
    <tr>
      <th>Aluno</th>
      <th>Modalidade</th>
      <th>Total de Aulas</th>
      <th>Aulas Restantes</th>
      <th>Validade</th>
      <th>Status</th>
      <th>Pagamento</th>
    </tr>
  </thead>
  <tbody>
    {{#each pacotes}}
    <tr>
      <td>{{this.aluno_nome}}</td>
      <td>{{#if this.passe_livre}}Passe Livre{{else}}{{this.modalidade}}{{/if}}</td>
      <td>{{this.aulas_total}}</td>
      <td>{{this.aulas_restantes}}</td>
      <td>{{this.validade}}</td>
      <td>
        {{#if (eq this.status_validade "Vencido")}}<span class="text-danger">{{this.status_validade}}</span>
        {{else if (eq this.status_validade "Próximo do vencimento")}}<span class="text-warning">{{this.status_validade}}</span>
        {{else}}<span class="text-success">{{this.status_validade}}</span>{{/if}}
      </td>
      <td>
        {{#if this.pago}}<span class="text-success">Pago</span>
        {{else}}<span class="text-danger">Não Pago</span>{{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>