<h2>Pacotes de Aulas - {{aluno.nome}}</h2>

<!-- Lista de pacotes -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Categoria</th>
      <th>Qtd. Aulas</th>
      <th>Usadas</th>
      <th>Validade</th>
      <th>Status</th>
      <th>Passe Livre</th>
      <th>Pago</th>
    </tr>
  </thead>
  <tbody>
    {{#each pacotes}}
    <tr class="{{#ifCond this.pago '==' 0}}table-danger{{else}}table-success{{/ifCond}}">
      <td>{{this.categoria_nome}}</td>
      <td>{{this.quantidade_aulas}}</td>
      <td>{{this.aulas_usadas}}</td>
      <td>{{formatDate this.validade}}</td>
      <td>
        {{#if (isVencido this.validade)}}
          <span class="text-danger">Vencido</span>
        {{else if (venceEm7Dias this.validade)}}
          <span class="text-warning">Vence em breve</span>
        {{else}}
          <span class="text-success">Ativo</span>
        {{/if}}
      </td>
      <td>{{#ifCond this.passe_livre '==' 1}}Sim{{else}}Não{{/ifCond}}</td>
      <td>{{#ifCond this.pago '==' 1}}Sim{{else}}Não{{/ifCond}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>









